@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html
{
	height: 100%;
}
body 
{
	background: #000000 !important;
	background-size: 100% !important;
	font-family: 'Noto Sans TC', sans-serif !important;
	color:#FFFFFF !important;
	width: 1920px !important;
}

.form_style
{
	margin-top:-2em;
}

.textbox_div_style
{
	margin-top:-3em;
	padding-right:-3em;
}
.box 
{
	margin-top:28vh;
}
.center
{
	margin:1em auto;
	margin-left:4em;
}
.input_style
{
	background-color:transparent;
	border:none;
	color:#FFFFFF;
}
.input_background
{
	background-image: url("../image/login_input.png");
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin-left: 0em !important;
    margin-right: 0em !important;
}
.buttom_style
{
	background-color:transparent;
	border:none;
	color:#FFFFFF;
}
.buttom_div_style
{
	margin-top:0em;
	padding-left:5em !important;
	padding-right:-5em !important;
}
.small_left
{
	margin-left: -3.4em !important;
}
.small_right
{
	margin-left: 3.4em !important;
}
.small_textbox
{
	padding-left:5em !important;
	padding-right:0em !important;
}
.small_font
{
	font-size:0.5em;
}