@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html
{
	height: 100%;
}

body 
{
	background: #000000;
	background-size: 100%;
	font-family: 'Noto Sans TC', sans-serif;
}

#clock
{
	color: #FFFFFF;
	text-align: center;
	font-size: 3.3em;
	margin-top:0.4em;
}

@media only screen and (max-width: 900px) 
{
    #clock
	{
		color: #FFFFFF;
		text-align: center;
		font-size: 2em;
		margin-top:0.4em;
	}
}
@media only screen and (max-width: 600px) 
{
	#clock
	{
		color: #FFFFFF;
		text-align: center;
		font-size: 3.3em;
		margin-top:0.4em;
	}
}
@media only screen and (max-width: 400px) 
{
	#clock
	{
		color: #FFFFFF;
		text-align: center;
		font-size: 3.3em;
		margin-top:0.4em;
	}
}

.font_style
{
	color: #FFFFFF;
	margin-top:3em;
}

.hint
{
	text-align: center;
	color: #FFFFFF;
	font-size: 1.5em;
	margin-top:5em;
}
.box 
{
	margin-top:35vh;
}

a 
{
    color:#FFFFFF;
}

a:link 
{
    color: #FFF;
    text-decoration: none;
}
a:visited 
{
	text-decoration: none;
	color: #FFF;
}
a:hover 
{
	color: rgb(231, 231, 231);
	text-decoration: none;
}
a:active 
{
	text-decoration: none;
}